.title {
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 42px;
  text-align: left;
  line-height: 1.15;
  color: #1F2430;
}

@media screen and (max-width: 770px) {
  .title {
    margin-bottom: 30px;
    font-size: 22px;
  }
}
