.form {
  max-width: 770px;
  background: #FFF;
  border: 1px solid #E7EAF3;
  box-sizing: border-box;
  box-shadow: 0 18px 48px rgba(31, 36, 48, 0.1);
  border-radius: 12px;
  padding: 54px 100px 70px 68px;
}

@media screen and (max-width: 730px) {
  .form {
    padding: 20px;
  }
}
